article
{
    float: left;
}
.half
{
    width: 50%;
}
.onethird
{
    width: 33.3333%;
}
legend
{
    margin: 0 auto;
}
h3, h4
{
    margin: 0;
}
h3>a, h4>a
{
    color: black;
    text-decoration: none;
}
h3>a:hover, h4>a:hover
{
    color: blue;
    text-decoration: underline;
}
span.have > span:first-child
{
    font-weight: bold;
}
span.have:hover
{
    color: darkgreen;
    cursor: default;
    background-color: #CED6DF;
}
span.have > span:last-child:hover
{
    font-style: italic;
}
span.donthave > a
{
    text-decoration: none;
    color: black;
}
span.donthave > a:hover
{
    text-decoration: underline;
    color: blue;
    background-color: #CED6DF;
}
span.extra > a
{
    text-decoration: none;
    color: transparent;
}
span.extra > a:hover,
span:hover + span.extra > a
{
    text-decoration: underline;
    color: purple;
}
span.doesntexist
{
    color: gray;
}
span.doesntexist > span:first-child
{
    text-decoration: line-through;
}
span.doesntexist > span:last-child
{
    color: transparent;
}
span.doesntexist:hover > span
{
    color: white;
    cursor: not-allowed;
    background-color: darkgray;
}
span.notranslation > a
{
    text-decoration: none;
    color: black;
}
span.notranslation > a:hover
{
    text-decoration: underline;
    color: blue;
    background-color: #CED6DF;
}
span.notranslation > span
{
    color: transparent;
}
span.notranslation > a:hover + span
{
    color: white;
    background-color: darkgray;
}
span.current
{
    text-decoration: underline;
    color: gray;
    cursor: default;
}
span.current::before
{
    content: '> ';
}
a.hiddenlink, a.hiddenlink:hover
{
    cursor: default !important;
    text-decoration: none !important;
    color: black;
}